/*Generales*/
.headerPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerPrincipal-nav {
    display: flex;
}
.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}
.rodapePrincipal-contatoForm-fieldset {
    display: flex;
    width: 25%;
}
/*Mapa de cursos - index*/
.rodapePrincipal .container .rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    height: 260px;
    flex-wrap: wrap;
}
/*Zona principal de cursos - index*/
.contenidoPrincipal .container .contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}
.contenidoPrincipal-cursos-link {
    display: flex;
    width: 23%;
}
/*Zona de video*/
.videoSobre .container {
    display: flex;
    justify-content: space-between;
}
.videoSobre-video {
    flex-grow: 1;
}
.videoSobre-sobre-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoSobre-sobre-list {
    margin-left: 5%;
}
.videoSobre-button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
/*Responsive*/
@media (max-width:768px) {
    .headerPrincipal  .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }
    .headerPrincipal-nav {
        flex-direction: column;
    }
    .contenidoPrincipal-cursos {
        flex-direction: column;
    }
    .contenidoPrincipal-cursos-link {
        width: 100%;
    }
    .rodapePrincipal .container .rodapePrincipal-navMap-list {
        height: auto;
        flex-wrap: nowrap;
    }
    .videoSobre .container {
        flex-direction: column;
    }
    .videoSobre-sobre {
        width: 100%;
    }
    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
    }
    .rodapePrincipal-contatoForm {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .headerPrincipal-nav-link-app {
        order: -1;
    }
}